#name_background {
    background-color: lightsteelblue;
    border-radius: 25em;
    margin: 0em .8em;
}

#random_name {
    font-family: 'Supermercado One', cursive;
    font-size: 2.5em;
    font-weight: 900;
}

#generator_button {
    font-family: 'Supermercado One', cursive;
    font-size: 2em;
    font-weight: 900;
    width: 10em;
    height: 2em;
    border-radius: 20em;
    border: black solid .04em;
}

#generator_button:hover {
    font-family: 'Supermercado One', cursive;
    font-size: 2em;
    font-weight: 900;
    width: 10em;
    height: 2em;
    border-radius: 20em;
    background-color: rgba(80, 80, 80, 0.733);
    color: whitesmoke;
}