#projecthousing {
    margin-top: 1em;
}

#projectsContainer {
    overflow: auto;
    background-color: rgba(79, 172, 209, 0.5);
    width: 100vw;
}

#projectsheader {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    margin-bottom: .4em;
}

#eachproject {
    display:inline-table;
    margin: 1em 4.8em;
    height: 23em;
    width: 35em;
    background-color: rgba(240, 240, 240, 0.808);
    border-radius: 2%;
    border: .05em solid rgb(73, 184, 218) ;
}

.projecttitle {
    padding: 0px;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.linknavbar {
    background-color: rgba(191, 225, 253, 0.733);
}

:hover.linknavbar {
    background-color: rgba(80, 80, 80, 0.733);
}

.linktext {
    display: inline-block;
    width: 8em;
    margin: 0em 4em 0em 4em;
    font-family: 'Playfair Display', serif;
    animation: shake-horizontal 2s 6s;
    color: rgb(0, 0, 0);
    border-right: .02em solid white;
    border-left: .02em solid white;
    border-radius: 2%; 
}

:hover.linktext {
    display: inline-block;
    width: 8em;
    margin: 0em 4em 0em 4em;
    font-family: 'Playfair Display', serif;
    animation: shake-horizontal 2s 6s;
    color: aliceblue;
    border-right: .02em solid white;
    border-left: .02em solid white;
    border-radius: 2%;
}

.projectdef {
    font-family: 'Playfair Display', serif;
    margin-top: .7em;
}

.projectimages {
    height: 12em;
    width: 35em;
}

/* Animations stuff*/
@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}

/* For phone screens*/

@media only screen and (max-width: 800px){
    #projecthousing {
        margin-top: 1em;
        width: 100vw;
    }
    
    #projectsContainer {
        overflow: auto;
        background-color: rgba(79, 172, 209, 0.5);
    }
    
    #projectsheader {
        font-size: 2em;
        font-family: 'Playfair Display', serif;
        margin-bottom: .4em;
    }
    
    #eachproject {
        height: 80%;
        width: 82%;
        padding: 1em 1em;
        margin: 1em 1em;
        background-color: rgba(240, 240, 240, 0.808);
        border-radius: 2%;
        border: .1em solid rgb(73, 184, 218) ;
    }
    
    .projecttitle {
        font-size: 2em;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
    }

    .linknavbar {
        background-color: rgba(94, 93, 93, 0.733);
    }

    
    .linktext {
        display: inline-block;
        width: 5em;
        margin: 0em 2em 0em 2em;
        font-family: 'Playfair Display', serif;
        font-size: .8em;
        animation: shake-horizontal 2s 6s;
        color: aliceblue;
        border-radius: 10%;
    }
    
    .projectdef {
        font-family: 'Playfair Display', serif;
        margin-top: .7em;
        height: 7.5em;
    }
    
    .projectimages {
        height: 100%;
        width: 100%;
    }

    .clockstuff {
        font-size: 15em;
    }
}