#clockbody {
    display: flex;
    justify-content: center;
    align-content: center;
}

.clock {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 16em;
    height: 16em;
    background-color: rgb(142, 142, 238);
    border-radius: 50%;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.clock::after {
    display: inline-flex;
    position: relative;
    top: 40%;
    content: '';
    z-index: 4;
    background-color: rgb(32, 32, 175);
    border: 2px solid rgb(142, 142, 238);
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    transform: translate(-50% -50%);
}

.clock span {
    position: absolute;
    font-weight: 700;
}

.num_one { top: 10%; right: 26%; }
.num_two { top: 25%; right: 10%; }
.num_three { right: 10px; top: 46%; }
.num_four { right: 30px; top: 67%; }
.num_five { right: 65px; top: 82%; }
.num_six { bottom: 10px; left: 50%; }
.num_seven { left: 70px; top: 82%; }
.num_eight { left: 30px; top: 67%; }
.num_nine { left: 10px; top: 46%; }
.num_ten { top: 25%; left: 10%; }
.num_eleven { top: 10%; left: 26%; }
.num_twelve { top: 10px; left: 46%; }

.sec_hand {
    position: absolute;
    width: .17em;
    height: 6em;
    background-color: crimson;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 10.5%;
    left: 50%;
    transform-origin: bottom;
}

.min_hand {
    position: absolute;
    width: .4em;
    height: 5em;
    background-color: rgb(32, 32, 175);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 16%;
    left: 50%;
    transform-origin: bottom;
}

.hour_hand {
    position: absolute;
    width: .6em;
    height: 3.5em;
    background-color: rgb(32, 32, 175);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 26%;
    transform-origin: bottom;
}