#projectsContainer {
    background-color: rgba(79, 172, 209, 0.8);
    height: 77em;
    width: 90em;
}

#projectsheader {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    margin-bottom: .4em;
}

#eachproject {
    float: left;
    margin: 1em 4.8em;
    height: 23em;
    width: 35em;
    background-color: rgb(173, 217, 238);
    border-radius: 10%;
    border:solid .2em rgb(73, 184, 218) ;
}

.projecttitle {
    padding: 0px;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.linktext {
    display: inline-block;
    width: 8em;
    margin: 0em 4em 0em 4em;
    font-family: 'Playfair Display', serif;
    animation: shake-horizontal 2s 6s;
    background-color: gray;
    color: aliceblue;
    border-radius: 10%;
}

.projectdef {
    font-family: 'Playfair Display', serif;
    margin-top: .7em;
}

.projectimages {
    height: 12em;
    width: 35em;
}

/* Animations stuff*/
@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}

/* For phone screens*/

@media only screen and (max-width: 800px){
    #projectsContainer {
        background-color: rgba(79, 172, 209, 0.8);
        height: 155em;
        width: 24em;
    }
    
    #projectsheader {
        font-size: 4em;
        font-family: 'Playfair Display', serif;
        margin-bottom: .4em;
    }
    
    #eachproject {
        float: left;
        margin: 1em 2.8em;
        height: 28em;
        width: 18em;
        background-color: rgb(173, 217, 238);
        border-radius: 10%;
        border:solid .2em rgb(73, 184, 218) ;
    }
    
    .projecttitle {
        padding: 0px;
        font-size: 3em;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
    }
    
    .linktext {
        display: inline-block;
        width: 4em;
        margin: 0em 2em 0em 2em;
        font-family: 'Playfair Display', serif;
        animation: shake-horizontal 2s 6s;
        background-color: gray;
        color: aliceblue;
        border-radius: 10%;
    }
    
    .projectdef {
        font-family: 'Playfair Display', serif;
        margin-top: .7em;
    }
    
    .projectimages {
        height: 12em;
        width: 18em;
    }
}