#projectsContainer {
    background-color: rgba(48, 71, 94, .8);
    height: 45em;
    width: 90em;
}

#projectsheader {
    font-size: 5em;
    margin-bottom: .4em;
}

#eachproject {
    float: left;
    margin: 1em 4.8em;
    height: 20em;
    width: 35em;
    background-color: rgb(176, 185, 196);
    border-radius: 10%;
}

.projecttitle {
    font-size: 4em;
    font-weight: 500;
}
