/* Social media links*/

#Socialmediahousing {
    grid-area: socialS;
    height: 100%;
    width: 99%;
}

#socialmediacontainer {
    margin: auto;
}

#socialmediatext {
    padding-left: .5em;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-align: start;
}

#linkscontainer {
    height: 74%;
    width: 100%;
    background-color: rgba(210,245,227, .6);
    border: solid .2em olive;
    border-radius: 14%;
}

#eachsocialbox {
    display: inline-block;
    height: 97%;
    width: 25%;
    padding-top: .3em;
    margin: auto;
}

#socialimg {
    height: 4em;
}

#linkstext {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
}

/* For phone screens*/

@media only screen and (max-width: 800px){
    /* Social media links*/

#Socialmediahousing {
    grid-area: socialS;
    height: 100%;
    width: 98%;
}

#socialmediacontainer {
    margin: auto;
}

#socialmediatext {
    padding-left: .5em;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#linkscontainer {
    height: 74%;
    width: 100%;
    background-color: rgba(210,245,227, .6);
    border: solid .2em olive;
    border-radius: 14%;
}

#eachsocialbox {
    display: inline-block;
    height: 97%;
    width: 25%;
    padding-top: .3em;
    margin: auto;
}

#socialimg {
    height: 2em;
}

#linkstext {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
}
}